<div class="ui header">${user.firstName}'s Messages (${user.inbox.size()})</div>
         <div class="ui center aligned middle aligned padded grid">
           <div class="row top">
            <div class="seven wide column">
              FROM
            </div>
            <div class="nine wide column">
              MESSAGE
            </div>
           </div>
           #{if user.inbox.size() > 0}
            #{list items:user.inbox, as:'message'}
           <div class="row">
            <div class="seven wide column">
              <a href="/publicprofile/${message.from.id}">${message.from.firstName}</a>
            </div>
            <div class="nine wide column">
                ${message.messageText}
            </div>
           </div>
            #{/list}
          #{/if}
        </div>