       <!--
        <div class="ui secondary menu" style="background-color:rgba(255, 255, 255, 1);border-top:1px solid grey;">
  		  <div class="ui center aligned middle aligned padded grid">
  		    <div class="three wide column padding">
  		      <a class="item size">Features</a>
  		    </div>
  		    <div class="three wide column padding">
 		      <a class="item size">Privacy Policy</a>
 		    </div>
 		    <div class="three wide column padding">
  		      <a class="item size">Customer Support</a>
  		    </div>
  		  </div>
		</div>
		-->
		
		<div class="ui secondary menu" style="background-color:rgba(255, 255, 255, 1);">
  		  <div class="ui center aligned middle aligned padded grid">
  		    <div class="twelve wide column padding">
  		      <a class="item size">watch | rate | recommend </a>
  		    </div>
  		  </div>
		</div>
		