#{extends 'main.html' /} 
#{set title:'Members' /} 

      <div class="ui segment" style="background-color:black;">
		<nav class="ui inverted secondary main menu">
		  <div class="left menu">
			<a class="item" href="/home">
			  <i class="white circle notched icon"></i> 
			  Spacebook : ${user.firstName} ${user.lastName}
			</a>
		  </div>
		  <div class="right menu">
  		    <a class="ui item" href="/home">Home</a>      
  			<a class="ui item active border" href="/members">Members</a>   
 			<a class="ui item" href="/profile">My Profile</a>   
  			<a class="ui item" href="/blog">Blog</a>
  			<a class="ui item" href="/editprofile">Account Settings</a> 
  			<a class="ui item" href="/logout">Logout</a> 
  	   	  </div>
		</nav> 
	  </div> 

  <div class="ui center aligned top aligned padded stackable grid">
    <div class="thirteen wide column">

      #{include "components/members.html" /} 

    </div>
  </div>
  